<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}
  </head>
  <body>
    {{>navbar}}
    <div class="container-fluid main-header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-12 col-12 main_header_left align-items-center">
                <figure class="errimg">
                <img
                  src="images/404.jpg"
                  alt="weather image"
                  class="img-fluid"
                  title="About Us Page"
                />
              </figure>
              <h2>
                Oops Something Missing with this page.
              </h2>
              <a href="/"
                ><button class="mr-2">Go Back</button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- footer  -->
{{>footer}}
    
</body>
</html>